@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  cursor: pointer;
  position: relative;
}

.button::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background: #374151;
  transition: width 0.2s;
}

.button:hover::after {
  width: 100%;
}
